<div class="container">
    <form>

        <div class="row">
            <div class="form-group col">
                <label>name:</label>
                <input type='text' class="form-control" />
            </div>

            <div class="form-group col">
                <label>username:</label>
                <input type='text' class="form-control" />
            </div>



        </div>
        <div class="row">
            <div class="form-group col">
                <label>Email:</label>
                <input type='email' class="form-control" />
            </div>

            <div class="form-group col">
                <label>Password:</label>
                <input type='password' class="form-control" />
            </div>



        </div>
        <div class="row">
            <div class="form-group col">
                <label>Email:</label>
        <select class="form-control">
            <option>User</option>
            <option>Admin</option>
            <option>Project Manager</option>
        </select>
            </div>
        </div>
      
        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-info">Register</button>
                </div>
        </div>

    </form>
</div>