
<div class="container">
    <form >

        <div class="row">
            <div class="form-group col">
                <label>Created at:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
      
        <div class="row">
            <div class="form-group col">
                <label>Deadline:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
        <div class="row">
            <div class="form-group col">
                <label>Title:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
          
        <div class="row">
            <div class="form-group col">
                <label>Description:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
        <div class="row">
            <div class="form-group col">
                <label>Category:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
        <div class="row">
            <div class="form-group col">
                <label>Company name:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
        <div class="row">
            <div class="form-group col">
                <label>Logo:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small> required</small>
                    <small> invalide</small>
                 </div>
            </div>

          



        </div>
        

     
        
        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-info">ADD</button>
                </div>
        </div>


    </form>
</div>
