
<div class="container">
    <form >

        <div class="row">
            <div class="form-group col">
                <label>name company:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small>name required</small>
                    <small>name invalide</small>
                 </div>
            </div>

          



        </div>
      
        <div class="row">
            <div class="form-group col">
                <label>Local:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small>name required</small>
                    <small>name invalide</small>
                 </div>
            </div>

          



        </div>
        <div class="row">
            <div class="form-group col">
                <label>image:</label>
                <input type='text' class="form-control" name="nom"  />
                <div  class="text-danger">  
                    <small>name required</small>
                    <small>name invalide</small>
                 </div>
            </div>

          



        </div>
          


     
        
        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-info">ADD</button>
                </div>
        </div>

    </form>
</div>
